* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.box {
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;

  display: flex;
  padding: 1200px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1600px;
  height: 80px;
}
.container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: -4px;
  top: 80px;

  background: #2f303a;
}

h1 .container-section {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.header-logo-link {
  position: absolute;
  width: 145px;
  height: 31px;

  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.header-logo-link:hover {
  color: #02090f;
}

.header-link-link {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.link-item {
  position: absolute;

  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-menu {
  position: absolute;
  width: 0px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-email-decoration {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-phone {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 2%;

  color: #757575;
}
/*
.main-section {
  height: 600px;
  left: -4px;
  top: 80px;

  background: #2f303a;
}
*/
.main-section-solutions {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 200px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.main-section-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 32px;
  gap: 10px;

  position: absolute;

  width: 261px;
  height: 50px;
  left: 670px;
  top: 350px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.main-section-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(232, 47, 47);
}
.header-logo-link {
  text-decoration: none;
}
.header-link-link {
  text-decoration: none;
}
.link-item {
  text-decoration: none;
}
.header-menu {
  text-decoration: none;
}
.header-email-decoration {
  text-decoration: none;
}
.header-phone {
  text-decoration: none;
}

.header-link-link:hover {
  color: #02090f;
}

.link-item:hover {
  color: #2196f3;
}

.header-menu:hover {
  color: #2196f3;
}

.header-email-decoration:hover {
  color: #02090f;
}

.header-phone:hover {
  color: #2196f3;
}
.navigetion-button {
  cursor: pointer;
}
.navigetion-one {
  cursor: pointer;
}

.navigetion-two {
  cursor: pointer;
}

.navigetion-five {
  cursor: pointer;
}

.navigetion-ten {
  cursor: pointer;
}
.footer-navigation {
  position: absolute;
  width: 1600px !important;
  height: 252px;
  left: 0px;
  top: 2158px;

  background: #2f303a;
}
.footer-web {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-information {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2258px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-email {
  text-decoration: none;

  width: 231px;
  height: 21px;
  left: 215px;
  top: 2306px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contact {
  text-decoration: none;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2329px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-web:hover {
  color: #ffffff;
}
.footer-information:hover {
  color: #2196f3;
}
.footer-contact:hover {
  color: #2196f3;
}

.footer-email:hover {
  color: #2196f3;
}

.section-activity-title {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 775px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.section-text {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 801px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}
.title {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 775px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-activity-one {
  position: absolute;
  width: 270px;
  height: 96px;
  left: 515px;
  top: 801px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}

.title-two {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 775px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.section-activity-two {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 801px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.title-three {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 775px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.section-activity-three {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 801px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}
.section-dedication-title {
  position: absolute;
  width: 371.15px;
  height: 46.24px;
  left: 619.43px;
  top: 991px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 3%;

  color: #212121;
}
.images-one {
  position: absolute;
  width: 373.16px;
  height: 323.7px;
  left: 215px;
  top: 1092.3px;

  background: url();
  mix-blend-mode: normal;
}
.images-two {
  position: absolute;

  width: 373.16px;
  height: 323.7px;
  left: 618.42px;
  top: 1092.3px;

  background: url();
}
.images-three {
  position: absolute;
  width: 373.16px;
  height: 323.7px;
  left: 1015px;
  top: 1092px;

  background: url();
}
.section-background-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 263px;
  height: 42px;
  left: 669px;
  top: 1604px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 3%;

  color: #212121;
}
.section-background-one {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 208px;
  top: 1696px;

  background: url();
  border-radius: 0px;
}
.background-images {
  position: absolute;
  width: 97px;
  height: 19px;
  left: 295px;
  top: 1986px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 3%;

  color: #212121;
}
.background-designer {
  position: absolute;
  width: 181px;
  height: 19px;
  left: 253px;
  top: 2015px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 3%;

  color: #757575;
}

.background-frontend {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1696px;

  background: url();
  border-radius: 0px;
}
.frontend-background {
  position: absolute;
  width: 109px;
  height: 19px;
  left: 596px;
  top: 1986px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 3%;

  color: #212121;
}
.frontend {
  position: absolute;
  width: 183px;
  height: 19px;
  left: 559px;
  top: 2015px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.marketing-images {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 822px;
  top: 1696px;

  background: url();
  border-radius: 0px;
}

.marketing-one {
  position: absolute;
  width: 103px;
  height: 19px;
  left: 906px;
  top: 1986px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.marketing-images-one {
  position: absolute;
  width: 76px;
  height: 19px;
  left: 919px;
  top: 2015px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.designer-designer {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1696px;

  background: url();
  border-radius: 0px;
}
.designer-two {
  position: absolute;
  width: 118px;
  height: 19px;
  left: 1191px;
  top: 1986px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.designer-three {
  position: absolute;
  width: 97px;
  height: 19px;
  left: 1202px;
  top: 2015px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
