* {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.header-logo-link {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.header-logo-link:hover {
  color: #02090f;
}

.header-link-link {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.link-item {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-menu {
  position: absolute;
  width: 0px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-email-decoration {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-phone {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 2%;

  color: #757575;
}
.main-section {
  width: 1600px;
  height: 600px;
  left: -4px;
  top: 80px;

  background: #2f303a;
}

.main-section-solutions {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 200px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.main-section-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;

  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.main-section-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(232, 47, 47);
}
.header-logo-link {
  text-decoration: none;
}
.header-link-link {
  text-decoration: none;
}
.link-item {
  text-decoration: none;
}
.header-menu {
  text-decoration: none;
}
.header-email-decoration {
  text-decoration: none;
}
.header-phone {
  text-decoration: none;
}

.header-link-link:hover {
  color: #02090f;
}

.link-item:hover {
  color: #2196f3;
}

.header-menu:hover {
  color: #2196f3;
}

.header-email-decoration:hover {
  color: #02090f;
}

.header-phone:hover {
  color: #2196f3;
}
.navigetion-button {
  cursor: pointer;
}
.navigetion-one {
  cursor: pointer;
}

.navigetion-two {
  cursor: pointer;
}

.navigetion-five {
  cursor: pointer;
}

.navigetion-ten {
  cursor: pointer;
}
.footer-navigation {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;

  background: #2f303a;
}
.footer-web {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-information {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2258px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-email {
  text-decoration: none;

  width: 231px;
  height: 21px;
  left: 215px;
  top: 2306px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contact {
  text-decoration: none;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2329px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-web:hover {
  color: #ffffff;
}
.footer-information:hover {
  color: #2196f3;
}
.footer-contact:hover {
  color: #2196f3;
}

.footer-email:hover {
  color: #2196f3;
}
